<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.tirix.emetamath.metamathBuilder"
         name="Metamath Loader / Parser / Verifier"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.tirix.emetamath.nature.MetamathBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.tirix.emetamath.metamathNature"
         name="Metamath Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.tirix.emetamath.nature.MetamathProjectNature">
         </run>
      </runtime>
      <builder
            id="org.tirix.emetamath.metamathBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.tirix.emetamath.nature.BuildStatusTester"
            id="org.tirix.emetamath.buildStatusTester"
            namespace="org.tirix.emetamath"
            properties="isLogicalSystemLoaded"
            type="org.tirix.emetamath.nature.MetamathProjectNature">
      </propertyTester>
      <propertyTester
            class="org.tirix.emetamath.nature.StepSelectorStoreTester"
            id="org.tirix.emetamath.hasMoreItemsTest"
            namespace="org.tirix.emetamath"
            properties="hasMoreItems"
            type="mmj.pa.StepSelectorStore">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.ide.projectNatureImages">
	  <image 
	    id="org.eclipse.ui.javaNatureImage"
	    natureId="org.tirix.emetamath.metamathNature"
	    icon="icons/aleph0_decorator.gif">
	  </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.tirix.emetamath.contribution1"
            nameFilter="*.mm">
         <menu
               label="Metamath"
               path="additions"
               id="org.tirix.emetamath.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.tirix.emetamath.popup.actions.SetMainFileAction"
               enablesFor="1"
               icon="icons/setMain.gif"
               id="org.tirix.emetamath.SetMainFileAction"
               label="Set as Main metamath file"
               menubarPath="additions">
			 <!-- menubarPath was ="org.tirix.emetamath.menu1/group1" -->
	         <enablement>
	           <and>
		           <objectState
		                 name="projectNature"
		                 value="org.tirix.emetamath.metamathNature"/>
		         	<not>
		               <objectState
			                 name="persistentProperty"
			                 value="org.tirix.emetamath.isMainFile">
			           </objectState>
		         	</not>
		         </and>
	         </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.tirix.emetamath.MMProblem"
         name="Metamath Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_RIGHT"
            label="Resource Decorator"
            icon="icons/aleph0_decorator.gif"
            id="org.tirix.emetamath.MetamathDecorator">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectState
                     name="projectNature"
                     value="org.tirix.emetamath.metamathNature"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="true"
            label="Main File Decorator"
            icon="icons/run_co.gif"
            state="true"
            id="org.tirix.emetamath.MainFileDecorator">
         <description>This project's main file, which is loaded first.</description>
         <enablement>
           <objectState
                 name="persistentProperty"
                 value="org.tirix.emetamath.isMainFile">
           </objectState>
         </enablement>
      </decorator>
    </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.tirix.emetamath.editors.MetamathEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="mm"
            icon="icons/mmFile.gif"
            id="org.tirix.emetamath.MetamathEditor"
            name="Metamath Editor">
      </editor>
      <editor
            class="org.tirix.emetamath.editors.proofassistant.ProofAssistantEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="mmp"
            icon="icons/mmpFile.gif"
            id="org.tirix.emetamath.ProofAssistant"
            name="Metamath Proof Assistant">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.editors.documentProviders">
      <provider
      		extensions="mm"
            class="org.tirix.emetamath.editors.MMDocumentProvider"
            id="org.tirix.emetamath.MetamathDocumentProvider">
      </provider>
      <provider
      		extensions="mmp"
            class="org.tirix.emetamath.editors.proofassistant.ProofFileDocumentProvider"
            id="org.tirix.emetamath.ProofFileDocumentProvider">
      </provider>
      <provider
            class="org.tirix.emetamath.editors.proofassistant.ProofWorksheetDocumentProvider"
            id="org.tirix.emetamath.ProofWorksheetDocumentProvider"
            inputTypes="org.tirix.emetamath.editors.proofassistant.ProofWorksheetDocumentProvider$ProofWorksheetInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Metamath Category"
            id="org.tirix.emetamath.commandCategory">
      </category>
	<command
	    name="Open Declaration"
	    categoryId="org.tirix.emetamath.commandCategory"
	    id="org.tirix.emetamath.openDeclarationCommand"
	    description="Open in the editor the declaration of the selected Metamath element">
    </command>
	<command
       categoryId="org.tirix.emetamath.commandCategory"
       description="Open in the editor the notation of the selected Metamath variable"
       id="org.tirix.emetamath.openNotationCommand"
       name="Open Notation">
	</command>
	<command
       categoryId="org.tirix.emetamath.commandCategory"
       description="Open in the editor the definition of the selected Metamath constant"
       id="org.tirix.emetamath.openDefinitionCommand"
       name="Open Definition">
	</command>
 <command
       categoryId="org.tirix.emetamath.commandCategory"
       description="Open the proof of the selected Metamath theorem in a Proof Assistant Editor"
       id="org.tirix.emetamath.openInProofAsstCommand"
       name="Open In Proof Assistant">
 </command>
	<command
	    name="Search References"
	    categoryId="org.tirix.emetamath.commandCategory"
	    id="org.tirix.emetamath.SearchReferencesCommand"
	    description="Search for all references of the selected Metamath element">
    </command>
      <command
            name="Unify"
            categoryId="org.tirix.emetamath.commandCategory"
            id="org.tirix.emetamath.unifyCommand">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            id="org.tirix.emetamath.unifyRenumberCommand"
            name="Unify and Renumber">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Search for unification steps and open the step selector view"
            id="org.tirix.emetamath.searchStepSelectionCommand"
            name="Step Selector">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Show more steps"
            id="org.tirix.emetamath.showMoreStepsCommand"
            name="ShowMoreSteps">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Apply selection to step and unify proof"
            id="org.tirix.emetamath.applyStepSelectionCommand"
            name="ApplyStepSelection">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Clear step selection view"
            id="org.tirix.emetamath.clearStepSelectionCommand"
            name="ClearStepSelection">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Opens the Search Page at the Metamath tab"
            id="org.tirix.emetamath.search.openMetamathSearchPage"
            name="Open Metamath Search Page">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Back to last proof"
            id="org.tirix.emetamath.browseBackCommand"
            name="Back to last proof">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Add a comment around the current selection"
            id="org.tirix.emetamath.addBlockComment"
            name="Add Block Comment">
      </command>
      <command
            categoryId="org.tirix.emetamath.commandCategory"
            description="Remove a comment around the current selection"
            id="org.tirix.emetamath.removeBlockComment"
            name="Remove Block Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.tirix.emetamath.openDeclarationCommand"
            class="org.tirix.emetamath.handlers.OpenDeclarationHandler">
         <enabledWhen>
            <with
                  variable="activePart">
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.OpenNotationHandler"
            commandId="org.tirix.emetamath.openNotationCommand">
         <enabledWhen>
            <with
                  variable="activePart">
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.OpenDefinitionHandler"
            commandId="org.tirix.emetamath.openDefinitionCommand">
         <enabledWhen>
            <with
                  variable="activePart">
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.OpenInProofAsstHandler"
            commandId="org.tirix.emetamath.openInProofAsstCommand">
         <enabledWhen>
            <with
                  variable="activePart">
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.UnifyHandler"
            commandId="org.tirix.emetamath.unifyCommand">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.tirix.emetamath.editors.proofassistant.ProofAssistantEditor">
               </instanceof>
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.UnifyRenumberHandler"
            commandId="org.tirix.emetamath.unifyRenumberCommand">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.tirix.emetamath.editors.proofassistant.ProofAssistantEditor">
               </instanceof>
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.tirix.emetamath.SearchReferencesCommand"
            class="org.tirix.emetamath.handlers.SearchReferencesHandler">
     <enabledWhen>
        <with
              variable="activePart">
           <adapt
                 type="org.tirix.emetamath.nature.MetamathProjectNature">
              <test
                    property="org.tirix.emetamath.isLogicalSystemLoaded">
              </test>
           </adapt>
        </with>
     </enabledWhen>
      </handler>
      <handler
            commandId="org.tirix.emetamath.searchStepSelectionCommand"
            class="org.tirix.emetamath.handlers.SearchStepSelectionHandler">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.tirix.emetamath.editors.proofassistant.ProofAssistantEditor">
               </instanceof>
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
                  <test
                        property="org.tirix.emetamath.isLogicalSystemLoaded">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.ShowMoreStepsHandler"
            commandId="org.tirix.emetamath.showMoreStepsCommand">
         <enabledWhen>
            <with
                  variable="activePart">
               <adapt
                     type="mmj.pa.StepSelectorStore">
                  <test
                        property="org.tirix.emetamath.hasMoreItems">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.tirix.emetamath.applyStepSelectionCommand"
            class="org.tirix.emetamath.handlers.ApplyStepSelectionHandler">
         <!-- enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="mmj.pa.StepSelectorItem">
                  </instanceof></iterate>
            </with>
         </enabledWhen -->
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.ClearStepSelectionHandler"
            commandId="org.tirix.emetamath.clearStepSelectionCommand">
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.OpenSearchPageHandler"
            commandId="org.tirix.emetamath.search.openMetamathSearchPage">
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.BrowseBackHandler"
            commandId="org.tirix.emetamath.browseBackCommand">
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.AddBlockComment"
            commandId="org.tirix.emetamath.addBlockComment">
      </handler>
      <handler
            class="org.tirix.emetamath.handlers.RemoveBlockComment"
            commandId="org.tirix.emetamath.removeBlockComment">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="Overrides the Ctrl+U and Ctrl+M keys to provide dedicated metamath shortcuts"
            id="org.tirix.emetamath.keybindingScheme"
            name="Metamath"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="org.tirix.emetamath.openDeclarationCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="F3"
            schemeId="org.tirix.emetamath.keybindingScheme">
      </key>
      <key
            commandId="org.tirix.emetamath.SearchReferencesCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+G"
            schemeId="org.tirix.emetamath.keybindingScheme">
      </key>
      <key
            commandId="org.tirix.emetamath.unifyCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+U"
            schemeId="org.tirix.emetamath.keybindingScheme">
      </key>
   </extension>
<extension point="org.eclipse.ui.menus">
	<menuContribution
			locationURI="popup:org.tirix.emetamath.MetamathEditor?after=group.open">
		<command
	         commandId="org.tirix.emetamath.openDeclarationCommand"
	         id="openDeclaration"
	         mnemonic="F3"
	         style="push"
	         tooltip="Open Declaration">
		</command>
  <command
        commandId="org.tirix.emetamath.openNotationCommand"
        id="openNotation"
        style="push"
        tooltip="Open Notation">
  </command>
  <command
        commandId="org.tirix.emetamath.openDefinitionCommand"
        id="openDefinition"
        style="push"
        tooltip="Open Definition">
  </command>
  <command
        commandId="org.tirix.emetamath.openInProofAsstCommand"
        id="openInProofAsst"
        style="push"
        tooltip="Open In Proof Assistant">
  </command>
	</menuContribution>
		<menuContribution locationURI="popup:org.tirix.emetamath.MetamathEditor?after=group.edit">
     <menu
           label="Source"
           mnemonic="M1+M2+S">
        <command
              commandId="org.tirix.emetamath.addBlockComment"
              id="addBlockComment"
              style="push">
        </command>
        <command
              commandId="org.tirix.emetamath.removeBlockComment"
              id="removeBlockComment"
              style="push">
        </command>
     </menu>
			<command
         commandId="org.tirix.emetamath.SearchReferencesCommand"
         icon="icons/mmSearch.gif"
         mnemonic="M1+M2+G"
         style="push">
			</command>
		</menuContribution>
  <menuContribution
        locationURI="popup:org.tirix.emetamath.ProofAssistant?after=group.open">
     <command
           commandId="org.tirix.emetamath.openDeclarationCommand"
           id="openDeclaration"
           mnemonic="F3"
           style="push"
           tooltip="Open Declaration">
     </command>
     <command
           commandId="org.tirix.emetamath.openNotationCommand"
           id="openNotation"
           style="push"
           tooltip="Open Notation">
     </command>
     <command
           commandId="org.tirix.emetamath.openDefinitionCommand"
           id="openDefinition"
           style="push"
           tooltip="Open Definition">
     </command>
     <command
           commandId="org.tirix.emetamath.openInProofAsstCommand"
           id="openInProofAsst"
           style="push"
           tooltip="Open In Proof Assistant">
     </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:org.tirix.emetamath.ProofAssistant?after=group.edit">
     <command
           commandId="org.tirix.emetamath.SearchReferencesCommand"
           icon="icons/mmSearch.gif"
           mnemonic="M1+M2+G"
           style="push">
     </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:org.tirix.emetamath.ProofAssistant?after=group.edit">
     <command
           commandId="org.tirix.emetamath.unifyCommand"
           icon="icons/mmUnify.gif"
           style="push">
     </command>
     <command
           commandId="org.tirix.emetamath.unifyRenumberCommand"
           icon="icons/mmUnifyRenumber.gif"
           style="push">
     </command>
     <command
           commandId="org.tirix.emetamath.searchStepSelectionCommand"
           icon="icons/mmStep.gif"
           style="push">
     </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:org.tirix.emetamath.views.ProofExplorerView?after=open">
     <command
           commandId="org.tirix.emetamath.openDeclarationCommand"
           id="openDeclaration"
           mnemonic="F3"
           style="push"
           tooltip="Open Declaration">
     </command>
     <command
           commandId="org.tirix.emetamath.openDefinitionCommand"
           id="openDefinition"
           style="push"
           tooltip="Open Definition">
     </command>
     <command
           commandId="org.tirix.emetamath.openNotationCommand"
           id="openNotation"
           style="push"
           tooltip="Open Notation">
     </command>
     <command
           commandId="org.tirix.emetamath.openInProofAsstCommand"
           id="openInProofAsst"
           style="push"
           tooltip="Open In Proof Assistant">
     </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:org.tirix.emetamath.views.ProofExplorerView?after=additions">
     <command
           commandId="org.tirix.emetamath.SearchReferencesCommand"
           icon="icons/mmSearch.gif"
           mnemonic="M1+M2+G"
           style="push">
     </command>
  </menuContribution>
		<!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
			<command
				commandId="org.tirix.emetamath.SearchReferencesCommand"
				mnemonic="M1+M2+G"
				style="push"
				tooltip="References">
			</command>
		</menuContribution -->
		<menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.tirix.emetamath.metamathMenu"
               label="Metamath"
               mnemonic="M">
            <command
                  commandId="org.tirix.emetamath.unifyCommand"
                  icon="icons/mmUnify.gif"
                  id="org.tirix.emetamath.unifyMenu"
                  mnemonic="U">
            </command>
            <command
                  commandId="org.tirix.emetamath.unifyRenumberCommand"
                  icon="icons/mmUnifyRenumber.gif"
                  id="org.tirix.emetamath.unifyRenumberMenu"
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="org.tirix.emetamath.searchStepSelectionCommand"
                  icon="icons/mmStep.gif"
                  id="org.tirix.emetamath.stepSelectorMenu"
                  mnemonic="S">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.tirix.emetamath.editors.MetamathEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.tirix.emetamath.metamathToolbar">
            <command
                  commandId="org.tirix.emetamath.unifyCommand"
                  icon="icons/mmUnify.gif"
                  tooltip="Unify this proof step"
                  id="org.tirix.emetamath.toolbar.unifyCommand">
            </command>
            <command
                  commandId="org.tirix.emetamath.unifyRenumberCommand"
                  icon="icons/mmUnifyRenumber.gif"
                  id="org.tirix.emetamath.toolbar.unifyRenumberCommand"
                  tooltip="Unify and Renumber this proof">
            </command>
            <command
                  commandId="org.tirix.emetamath.searchStepSelectionCommand"
                  icon="icons/mmStep.gif"
                  tooltip="Show Step Selector"
                  id="org.tirix.emetamath.toolbar.searchStepSelectionCommand">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.tirix.emetamath.editors.proofassistant.ProofAssistantEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.tirix.emetamath.views.StepSelectorView">
         <command
               commandId="org.tirix.emetamath.showMoreStepsCommand"
               icon="icons/mmStepMore.gif"
               id="org.tirix.emetamath.toolbar.showMoreStepsCommand"
               tooltip="Show more unifications for this step">
         </command>
         <command
               commandId="org.tirix.emetamath.applyStepSelectionCommand"
               icon="icons/mmStepApply.gif"
               id="org.tirix.emetamath.toolbar.applyStepSelectionCommand"
               tooltip="Apply selection on this step">
         </command>
         <command
               commandId="org.tirix.emetamath.clearStepSelectionCommand"
               icon="icons/delete.gif"
               id="org.tirix.emetamath.toolbar.clearStepSelectionCommand"
               tooltip="Clear step selection view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.tirix.emetamath.views.StepSelectorView">
         <command
               commandId="org.tirix.emetamath.openDeclarationCommand"
               id="openDeclaration"
               mnemonic="F3"
               style="push"
               tooltip="Open Declaration">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="mmj.lang.Assrt">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.tirix.emetamath.openInProofAsstCommand"
               id="openInProofAsst"
               style="push"
               tooltip="Open In Proof Assistant">
         </command>
         <command
               commandId="org.tirix.emetamath.applyStepSelectionCommand"
               icon="icons/mmStepApply.gif"
               id="org.tirix.emetamath.toolbar.applyStepSelectionCommand">
         </command>
         <command
               commandId="org.tirix.emetamath.clearStepSelectionCommand"
               icon="icons/delete.gif"
               id="org.tirix.emetamath.toolbar.clearStepSelectionCommand">
         </command>
      </menuContribution>
      <menuContribution locationURI="menu:org.eclipse.search.menu?after=dialogGroup">
         <command commandId="org.tirix.emetamath.search.openMetamathSearchPage"
                 label="Metamath..."
                 icon="icons/mmSearch.gif">
            <visibleWhen>
               <with variable="activeContexts">
                   <iterate operator="or">
                    <equals value="org.eclipse.jdt.ui.SearchActionSet">
                    </equals>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.tirix.emetamath.views.ProofBrowserView">
         <command
               commandId="org.tirix.emetamath.browseBackCommand"
               icon="icons/back_highlighted.gif"
               id="org.tirix.emetamath.toolbar.browseBackCommand"
               tooltip="Back to last proof">
         </command>
      </menuContribution>
	</extension>
	<extension
 		id="MetamathSearchResultPage"
    	point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.tirix.emetamath.search.MetamathSearchResultPage"
			searchResultClass="org.tirix.emetamath.search.MetamathSearchResult"
			class="org.tirix.emetamath.search.MetamathSearchResultViewPage">
		</viewPage>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.tirix.emetamath.categoty.wizards"
          name="Metamath">
    </category>
    <wizard
          category="org.tirix.emetamath.categoty.wizards"
          class="org.tirix.emetamath.wizards.MetamathNewFileWizard"
          icon="icons/mmNewFile.gif"
          id="org.tirix.emetamath.wizards.MetamathNewFileWizard"
          name="Metamath File">
    </wizard>
    <wizard
          category="org.tirix.emetamath.categoty.wizards"
          class="org.tirix.emetamath.wizards.ProofNewFileWizard"
          icon="icons/mmpNewFile.gif"
          id="org.tirix.emetamath.wizards.ProofNewFileWizard"
          name="Metamath Proof File">
    </wizard>
    <wizard
          category="org.tirix.emetamath.categoty.wizards"
          class="org.tirix.emetamath.wizards.MetamathNewProjectWizard"
          icon="icons/mmNewProject.gif"
          id="org.tirix.emetamath.wizards.MetamathNewProjectWizard"
          name="Metamath Project">
    </wizard>
 </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Metamath"
            id="org.tirix.emetamath.importWizards.metamathCategory">
      </category>
      <wizard
            name="Metamath File from Local File System"
            icon="icons/aleph0.gif"
            category="org.tirix.emetamath.importWizards.metamathCategory"
            class="org.tirix.emetamath.importWizards.ImportFileWizard"
            id="org.tirix.emetamath.importWizards.ImportFileWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
      <wizard
            category="org.tirix.emetamath.importWizards.metamathCategory"
            class="org.tirix.emetamath.importWizards.ImportSetMmWizard"
            icon="icons/aleph0.gif"
            id="org.tirix.emetamath.importWizards.ImportSetMmWizard"
            name="Set.mm File from Metamath Web Site">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.tirix.emetamath.exportWizards.metamathCategory"
            name="Metamath">
      </category>
      <wizard
            category="org.tirix.emetamath.exportWizards.metamathCategory"
            class="org.tirix.emetamath.exportWizards.ExportMathMLWizard"
            id="org.tirix.emetamath.exportWizards.ExportMathMLWizard"
            name="as MathML File">
         <description>
            Export selection as an HTML file containing MathML.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Metamath"
            icon="icons/aleph0.gif"
            class="org.tirix.emetamath.perspectives.MetamathPerspective"
            id="org.tirix.emetamath.perspectives.MetamathPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Metamath Preferences"
            class="org.tirix.emetamath.preferences.MetamathPreferencePage"
            id="org.tirix.emetamath.preferences.MetamathPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.tirix.emetamath.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Metamath Properties"
            nameFilter="*.mm"
            class="org.tirix.emetamath.properties.MetamathPropertyPage"
            id="org.tirix.emetamath.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.tirix.emetamath.properties.MetamathProjectPropertyPage"
            id="org.tirix.emetamath.properties.samplePropertyPage"
            name="Metamath Properties">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <adapt
                     type="org.tirix.emetamath.nature.MetamathProjectNature">
               </adapt>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metamath"
            id="org.tirix.emetamath.ViewCategory">
      </category>
      <view
            name="Proof Explorer View"
            icon="icons/ProofExplorer.gif"
            category="org.tirix.emetamath.ViewCategory"
            class="org.tirix.emetamath.views.ProofExplorerView"
            id="org.tirix.emetamath.views.ProofExplorerView">
      </view>
      <view
            category="org.tirix.emetamath.ViewCategory"
            class="org.tirix.emetamath.views.StepSelectorView"
            icon="icons/mmStepSelector.gif"
            id="org.tirix.emetamath.views.StepSelectorView"
            name="Step Selector View">
      </view>
      <view
            category="org.tirix.emetamath.ViewCategory"
            class="org.tirix.emetamath.views.ProofBrowserView"
            icon="icons/mmBrowser.gif"
            id="org.tirix.emetamath.views.ProofBrowserView"
            name="Proof Browser View"
            restorable="true">
      </view>
      <view
            category="org.tirix.emetamath.ViewCategory"
            class="org.tirix.emetamath.views.MathView"
            icon="icons/pi.gif"
            id="org.tirix.emetamath.views.MathView"
            name="Math View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.tirix.emetamath.wizards.MetamathNewProjectWizard">
         <enablement>
         </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.tirix.emetamath.wizards.MetamathNewFileWizard">
         <enablement>
         </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.tirix.emetamath.wizards.ProofNewFileWizard">
         <enablement>
         </enablement>
      </commonWizard>
      <commonWizard
            type="import"
            wizardId="org.tirix.emetamath.importWizards.ImportFileWizard">
         <enablement>
         </enablement>
      </commonWizard>
      <commonWizard
            type="import"
            wizardId="org.tirix.emetamath.importWizards.ImportSetMmWizard">
         <enablement>
         </enablement>
      </commonWizard>
   </extension>
	<extension point="org.eclipse.ui.themes">
		<themeElementCategory
			id="org.tirix.emetamath.preferences.themeElementCategory" 
			label="Metamath">
			<description>Fonts and Colors for the Metamath Editors and Views</description>
		</themeElementCategory>
	
		<colorDefinition
			categoryId="org.tirix.emetamath.preferences.themeElementCategory"
			id="org.tirix.emetamath.preferences.labelColor" 
			label="Labels"
			value="COLOR_DARK_BLUE">
			<description>
				Your description goes here
	        </description>
		</colorDefinition>
	
		<fontDefinition
			categoryId="org.tirix.emetamath.preferences.themeElementCategory"
			id="org.tirix.emetamath.preferences.editorFont" 
			label="Metamath Editor Font"
			value="Courier New-regular-10">
			<description>Font to be used in the Metamath Editor and Step Selector View</description>
		</fontDefinition>
	</extension>
 <extension
       point="org.eclipse.search.searchPages">
    <page
          canSearchEnclosingProjects="false"
          class="org.tirix.emetamath.search.MetamathSearchPage"
          enabled="true"
          extensions="mm:1, mmp:1"
          icon="icons/mmSearch.gif"
          id="org.tirix.emetamath.search.metamathSearchPage"
          label="Metamath Search"
          showScopeSection="false">
    </page>
 </extension>
</plugin>
